.subre-subscription-renewal {
  display: flex;
  align-items: center;

  .subre-subscription-renewal-icon:before {
    color: #c6e1c6;
  }
}

.subre-subscription-list-item {
  display: flex;
  align-items: center;
}